<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="Simonnet">
        <meta content="Projet d'apprentissage lors du parcours de développeur Python d'Openclassrooms">
        <title>OC GrandPy</title>
        <link rel="stylesheet" type="text/css" href="">
        <link rel="shortcut icon" href="favicon.ico" type="../flask/static/img/">
        <script src=""></script>
    </head>
    <body>
        <header>

        </header>
        <main>
            <p>herzzee</p>
            <p>llenfe</p>
        </main>
        <footer>

        </footer>
    </body>
    <script></script>
</html>