<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="Simonnet">
        <meta content="Projet d'apprentissage lors du parcours de développeur Python d'Openclassrooms">
        <title>OC GrandPy</title>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
        <script src=""></script>
    </head>
    <body>
        <header>
            <img src="../static/img/logo.png" alt="GrandPy P7 OC"/>
        </header>
        <main>
            <h1>Bienvenue p'tit jeune</h1>
            <h2>Demande moi le nom d'un lieu et je te donne l'adresse et une anecdote !</h2>
            <form action="" method="get" class="form-example">
              <div class="form-question">
                <label for="question">Enter your name: </label>
                <input type="text" name="name" id="question" required>
              </div>
              <div class="form-question">
                <input type="submit" value="Envoyer">
              </div>
            </form>

        </main>
        <footer>
            <p>Teiva SIMONNET</p>
            <a href="https://github.com/smtr42/">Github</a>
        </footer>
    </body>
    <script></script>
</html>