header {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #2980b9;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 5em;
    text-align: center;
}
