<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>OC GrandPy</title>
        <meta charset="UTF-8">
        <meta name="Simonnet">
        <meta content="Projet d'apprentissage lors du parcours de développeur Python d'Openclassrooms">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-compatible" content="ie=edge, chrome=1">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">

<!--        <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">-->
    </head>
    <body>
        <header>
<!--            <img src="../static/img/logo.png" alt="GrandPy P7 OC"/>-->
        </header>
        <main>
            <h1>Bienvenue p'tit jeune</h1>
            <h2>Demande moi le nom d'un lieu et je te donne l'adresse et une anecdote !</h2>
            <div class="chat">
                <div class="chat-history">
                    <div class="message-head">
                        <span>grand</span>
                    </div>
                    <div class="message grand">
                        Bonjour ptit jeune, pose moi ta question et j'essaierai de te répondre en te donnant une petite anecdote associée. Je peux mettre un peu de temps à réfléchir je t'avoue, sois patient !
                    </div>
                </div>
                <div id="map" class="map"></div>
                <div class="question-box">
<!--                    <textarea name="message-content" id="message-content" placeholder ="Pose ta question içi" rows="3"></textarea>-->
<!--                    <button>Demander</button>-->
                    <form id="user-form">
                        <input type="text" id="message-content" class="message-content" name="message-content" placeholder=" Pose ta question içi ex: Bonjour GrandPy, où se situe la tour Eiffel ? Merci">
                        <input type="submit" class= "button" value="Envoyer">
                    </form>
                </div>
            </div>
        </main>
        <footer>
            <p>Teiva SIMONNET</p>
            <a href="https://github.com/smtr42/">Github</a>
        </footer>
    </body>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap">
    </script>
    <script type="text/javascript" src="../static/js/script.js"></script>
</html>